/* inter font */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* maximum width of body */
body {
    max-width: 1600px;
    border: 1px dotted white;
    margin: 0 auto;
    background-color: #1A0B2E;
    color: white;
}


/* shared styles */
.gradient {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.text-gray {
    color: rgba(255, 255, 255, 0.7);
}
.text-48 {
    font-size: 3rem;
}

.green {
    color: #00FF88;
}

.btn-primary {
    width: 135px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px, 16px;
    border: none;
    border-radius: 20px;
    color: white;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-weight: 600;
}

.btn:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
}


/* individual styles */

/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 32px;
    padding-inline-start: 0px;

}

.navbar ul li a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

/* banner styles */
.banner-section {
    border-top: 1px solid #2A186C;
    background-image: url('./images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 760px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-images {
    height: 350px;
    width: 350px;

    background-image: url('./images/hero-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4rem;
    margin-bottom: 8px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.spotify {
    width: 210px;
}

.subscribe {
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
    padding: 12px 20px;
    color: #00FF88;
}


/* about section */
.about-section {
    text-align: center;
    padding: 50px 200px 120px;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-section .divider {
    height: 1px;
    background: #2A186C;
}
.number p {
    color: rgba(255, 255, 255, 0.8);
}
.number h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



/* why choose section */
.why-choose {
    padding: 120px 200px;
}
.wc-title {
    text-align: center;
    margin-bottom: 40px;
}
.wc-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.paq {
    grid-row: span 2;
}
.mf {
    grid-column: span 2;
}
.gc {
    grid-column: span 2;
}
.ei {
    grid-column: span 2;
}
.card {
    padding: 40px;
    border-radius: 40px;
    background-color: #351165;
    display: flex;
    align-items: center;
}
.card p {
    color: rgba(255, 255, 255, 0.7);
}













/* small device responsive design */
@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
    }

    .banner-section {
        padding: 30px 0 30px;
        margin-top: 20px;
        background-position-y: 50px;
        height: 100%;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-images {
        height: 200px;
        width: 200px;
    }

    .banner-images img {
        height: 80px;
    }

    .navbar ul {
        margin-top: -30px;
    }

    .about-section {
        padding: 20px;
        gap: 40px;
    }

    .about-numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .number h2 {
        font-size: 2.25rem
    }

    .about-section h2 {
        font-size: 2rem
    }
}

;