/* inter font */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* maximum width of body */
body {
    max-width: 1600px;
    border: 1px dotted white;
    margin: 0 auto;
    background-color: #1A0B2E;
    color: white;
}


/* shared styles */
.gradient {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-48 {
    font-size: 3rem;
}

.text-60 {
    font-size: 4rem;
}

.btn-primary {
    width: 135px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px, 16px;
    border: none;
    border-radius: 20px;
    color: white;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-weight: 600;
}

.btn:hover {
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
}


/* individual styles */

/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.navbar ul li a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

/* banner styles */
.banner-section {
    border-top: 1px solid #2A186C;
    background-image: url('./images/hero-bg.png');
    height: 760px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-images {
    height: 350px;
    width: 350px;
    /* margin-bottom: 40px; */

    background-image: url('./images/hero-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4rem;
    margin-bottom: 8px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.spotify {
    width: 210px;
}

.subscribe {
    border: 1px solid #00FF88;
    border-radius: 20px;
    background-color: transparent;
    padding: 12px 20px;
    color: #00FF88;
}